*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #EAEAEA;
}

a {
    text-decoration: none;
    color: rgb(128, 128, 128);
}

img {
    cursor: pointer;
}

.navbar {
    background-color: #2c2c2c;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is on top of other elements */
}

.logo {
    height: 50px;
    width: auto;
}

.menu-item {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 80px); /* Adjusted height to accommodate the navbar */
    padding: 10px;
    box-sizing: border-box;
    margin-top: 80px; /* Adjusted margin to push content below the navbar */
}

.filter-panel {
    position: absolute;
    top: 100px;
    left: 30px;
    width: 250px; /* Increased width for a larger filter panel */
    height: auto; /* Auto height to accommodate content */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Added padding for spacing */
    z-index: 999;
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Align items vertically */
    justify-content: space-between;
}

.filter-option {
    margin-bottom: 20px; /* Added spacing between options */
}

.filter-option label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333; /* Darker text color */
}

.filter-option select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: auto; /* Push button to the bottom */
    align-self: stretch; /* Ensure button stretches horizontally */
}

.filter-options {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 60px;
    left: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: none;
}

.filter-options.show {
    display: block;
}


/* Search bar styles */
.search-bar {
    position: absolute;
    top: 120px;
    right: 50px;
    width: 500px;
    display: flex;
    align-items: center;
    padding: 0;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 12px 20px; /* Adjust padding as needed */
    border: 1px solid #dfe1e5;
    border-right: none;
    border-radius: 50px 0 0 50px;
    font-size: 16px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s, border 0.2s;
    height: 40px; /* Fixed height for the input */
    box-sizing: border-box; /* Include padding and borders in the height calculation #f4cb08 2c2c2c*/
}

.search-bar input[type="text"]:focus {
    outline: none;
    border-color: #4285f4; /* Google blue for focus */
    box-shadow: 0 0 8px rgba(66, 133, 244, 0.5); /* Matching color for the shadow */
    
}

.search-bar button {
    padding: 12px 20px; /* Adjust padding to match the input field */
    background-color: #2c2c2c;
    border: 1px solid #4285f4;
    border-radius: 0 50px 50px 0;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    height: 40px; /* Fixed height including the border to match the input */
    box-sizing: border-box; /* Include padding and borders in the height calculation */
}

/* Hover and active states for the button */
.search-bar button:hover {
    background-color: #357ae8; /* A slightly darker shade on hover */
}

.search-bar button:active {
    background-color: #3367d6; /* Even darker for the active state */
    transform: scale(0.97); /* Slight shrink for a tactile response */
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .search-bar {
        top: 100px; /* Adjust top position for smaller screens */
        right: 20px; /* Less spacing on the right */
        left: 20px; /* Add left spacing to not stick to the screen edge */
    }
}




/* Container for videos */
.video-suggestions {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
    margin-top: 100px; /* Space below the navbar, adjust as needed */
    min-height: 600px;
}

/* Styles for the main video */
.main-video {
    flex: 2; /* Allows the main video to take more space */
    background-color: #ccd;
    border-radius: 5px;
    margin-right: 20px; /* Space between main video and side videos */
    margin-bottom: 400px;
}

.main-video img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 5px 5px 5px; /* Rounded corners at the top */
}

/* Styles for side videos */
.side-videos {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Maximum width for side videos, adjust as needed */
}

.small-video {
    background-color: #ccd;
    border-radius: 5px;
    margin-bottom: 19px; /* Space between side videos */
    
}

.small-video img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 5px 5px 5px; /* Rounded corners at the top */
}


.main-video a {
    display: inline-block;
    padding: 8px 10px;
    background-color: #2c2c2c; /* A nice shade of blue */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    font-size: 1.1rem; /* slightly larger font size for better visibility */
}

.main-video a:hover {
    background-color: #1669c7; /* A darker shade for hover effect */
    text-decoration: none; /* Ensures no underline on hover */
}

.main-video a:active {
    background-color: #0f57a6; /* An even darker shade for active state */
}

.main-video a:focus {
    outline: none; /* Remove outline on focus for a cleaner look */
    box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.5); /* Add a subtle glow effect */
}


/* Text styling inside video items */
.video-item a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1a73e8; /* A nice shade of blue */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    font-size: 1rem;
}

.video-item a:hover {
    background-color: #1669c7; /* A darker shade for hover effect */
    text-decoration: none; /* Ensures no underline on hover */
}

.video-item a:active {
    background-color: #0f57a6; /* An even darker shade for active state */
}

.video-item a:focus {
    outline: none; /* Remove outline on focus for a cleaner look */
    box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.5); /* Add a subtle glow effect */
}

.video-link {
    display: inline-block;
    padding: 8px 10px;
    background-color: #2c2c2c; /* A nice shade of blue */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    font-size: 13px;
}

.main-video .video-link {
    display: inline-block;
    padding: 8px 10px;
    background-color: #2c2c2c; /* A nice shade of blue */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    font-size: 13px;
}

.video-link:hover {
    background-color: #1669c7; /* A darker shade for hover effect */
    text-decoration: none; /* Ensures no underline on hover */
}

.video-link:active {
    background-color: #0f57a6; /* An even darker shade for active state */
}

.video-link:focus {
    outline: none; /* Remove outline on focus for a cleaner look */
    box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.5); /* Add a subtle glow effect */
}

.main-video h3, .small-video h3 {
    padding: 5px 10px;
}



/* Responsive design adjustments */
@media (max-width: 992px) {
    .video-suggestions {
        flex-direction: column;
    }

    .main-video {
        order: 1;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .side-videos {
        order: 2;
        width: 100%;
        max-width: none;
    }
}

.no-videos-message {
    font-size: 2rem; /* Adjust the size as you see fit */
    background-color: #f8f8f8; /* A light background to make it pop a bit more */
    border: 1px solid #ccc; /* A subtle border */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 600px; /* Adds some space at the top */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}




